<div class="ui-optima">
	<div class="btn-wrap">
		<label>Small Button</label>
	    <input type="button" value="Submit Report" data-inline="true" data-wrapper-class="btn-sm btn-prim" />
	</div>
	<div class="btn-wrap">
		<label>Regular Button</label>
	    <input type="button" value="Submit Report" data-inline="true" data-wrapper-class="btn btn-prim" />
	</div>
	<div class="btn-wrap">
		<label>Large Button</label>
	    <input type="button" value="Submit Report" data-inline="true" data-wrapper-class="btn-lg btn-prim" />
	</div>

	<hr>

	<div class="row">
		<div class="btn-wrap inline">
			<label>Primary Button</label>
		    <input type="button" value="Submit Report" data-inline="true" data-wrapper-class="btn btn-prim" />
		</div>
		<div class="btn-wrap inline">
			<label>Primary Button: Disabled</label>
		    <input type="button" value="Submit Report" data-inline="true" disabled="disabled" data-wrapper-class="btn btn-prim" />
		</div>
	</div>
	<div class="row">
		<div class="btn-wrap inline">
			<label>Secondary Button</label>
		    <input type="button" value="Submit Report" data-inline="true" data-wrapper-class="btn btn-scnd" />
		</div>
		<div class="btn-wrap inline">
			<label>Secondary Button: Disabled</label>
		    <input type="button" value="Submit Report" data-inline="true" disabled="disabled" data-wrapper-class="btn btn-scnd" />
		</div>
	</div>
	<div class="row">
		<div class="btn-wrap inline">
			<label>Confirm Button</label>
		    <input type="button" value="Submit Report" data-inline="true" data-wrapper-class="btn btn-cfrm" />
		</div>
		<div class="btn-wrap inline">
			<label>Confirm Button: Disabled</label>
		    <input type="button" value="Submit Report" data-inline="true" disabled="disabled" data-wrapper-class="btn btn-cfrm" />
		</div>
	</div>
	<div class="row">
		<div class="btn-wrap inline">
			<label>Deny Button</label>
		    <input type="button" value="Submit Report" data-inline="true" data-wrapper-class="btn btn-deny" />
		</div>
		<div class="btn-wrap inline">
			<label>Deny Button: Disabled</label>
		    <input type="button" value="Submit Report" data-inline="true" disabled="disabled" data-wrapper-class="btn btn-deny" />
		</div>
	</div>
</div>