<div class="ui-optima">
	<div style="padding: 45px 0; background-color: #ededed; display: table; width: 100%; height: 100%;">
		<div class="calendar-widget">
			<div class="header">
				<div class="ui-optima">

					<div id="" class="ui-field-contain month-select">
						<select name="select-custom-2" id="select-custom-1" data-native-menu="false">
							<option value="1">January</option>
							<option value="2">February</option>
							<option value="3">March</option>
							<option value="4">April</option>
							<option value="5">May</option>
							<option value="6">June</option>
							<option value="7">July</option>
							<option value="8">August</option>
							<option value="9">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
					</div>

					<div class="ui-field-contain year-select" id="">
						<select name="select-custom-2" id="select-custom-2" data-native-menu="false">
							<option value="2015">2015</option>
							<option value="2014">2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option>
							<option value="2011">2011</option>
							<option value="2010">2010</option>
							<option value="2009">2009</option>
							<option value="2008">2008</option>
							<option value="2007">2007</option>
							<option value="2006">2006</option>
							<option value="2005">2005</option>
							<option value="2004">2004</option>
						</select>
					</div>

				</div>

			</div>

			<div class="weekdays">
				<div class="weekday-cell">
					<p>Sun</p>
				</div>
				<div class="weekday-cell">
					<p>Mon</p>
				</div>
				<div class="weekday-cell">
					<p>Tue</p>
				</div>
				<div class="weekday-cell">
					<p>Wed</p>
				</div>
				<div class="weekday-cell">
					<p>Thu</p>
				</div>
				<div class="weekday-cell">
					<p>Fri</p>
				</div>
				<div class="weekday-cell">
					<p>Sat</p>
				</div>
			</div>

			<div class="dates-row">
				<div class="date-cell disabled">
					<p>28</p>
				</div>
				<div class="date-cell disabled">
					<p>29</p>
				</div>
				<div class="date-cell disabled">
					<p>30</p>
				</div>
				<div class="date-cell">
					<p>1</p>
				</div>
				<div class="date-cell">
					<p>2</p>
				</div>
				<div class="date-cell">
					<p>3</p>
				</div>
				<div class="date-cell">
					<p>4</p>
				</div>
			</div>

			<div class="dates-row">
				<div class="date-cell">
					<p>5</p>
				</div>
				<div class="date-cell">
					<p>6</p>
				</div>
				<div class="date-cell">
					<p>7</p>
				</div>
				<div class="date-cell">
					<p>8</p>
				</div>
				<div class="date-cell">
					<p>9</p>
				</div>
				<div class="date-cell">
					<p>10</p>
				</div>
				<div class="date-cell">
					<p>11</p>
				</div>
			</div>

			<div class="dates-row">
				<div class="date-cell">
					<p>12</p>
				</div>
				<div class="date-cell">
					<p>13</p>
				</div>
				<div class="date-cell">
					<p>14</p>
				</div>
				<div class="date-cell">
					<p>15</p>
				</div>
				<div class="date-cell active">
					<p>16</p>
				</div>
				<div class="date-cell">
					<p>17</p>
				</div>
				<div class="date-cell">
					<p>18</p>
				</div>
			</div>

			<div class="dates-row">
				<div class="date-cell">
					<p>19</p>
				</div>
				<div class="date-cell">
					<p>20</p>
				</div>
				<div class="date-cell">
					<p>21</p>
				</div>
				<div class="date-cell">
					<p>22</p>
				</div>
				<div class="date-cell">
					<p>23</p>
				</div>
				<div class="date-cell">
					<p>24</p>
				</div>
				<div class="date-cell">
					<p>25</p>
				</div>
			</div>

			<div class="dates-row">
				<div class="date-cell">
					<p>26</p>
				</div>
				<div class="date-cell">
					<p>27</p>
				</div>
				<div class="date-cell">
					<p>28</p>
				</div>
				<div class="date-cell">
					<p>29</p>
				</div>
				<div class="date-cell">
					<p>30</p>
				</div>
				<div class="date-cell">
					<p>31</p>
				</div>
				<div class="date-cell disabled">
					<p>1</p>
				</div>
			</div>

		</div>
	</div>
</div>