<div class="ui-optima" style="padding: 15px;">
	<div class="data-table">
		<table>
			<tr class="head">
				<td class="gutter"></td>
				<td><label>Bibendum</label></td>
				<td><label>Risus Vulputate</label></td>
				<td><label>Egestas</label></td>
				<td><label>Ipsum</label></td>
				<td><label>Dapibus</label></td>
				<td><label>Purus</label></td>
				<td><label>Lorem</label></td>
				<td class="gutter"></td>
			</tr>
			<tr>
				<td class="gutter"></td>
				<td>$123.45</td>
				<td>+$678.90</td>
				<td>.031%</td>
				<td class="red">-6039.23</td>
				<td>.034%</td>
				<td>4.238%</td>
				<td class="green">YES</td>
				<td class="gutter"></td>
			</tr>
			<tr>
				<td class="gutter"></td>
				<td>$123.45</td>
				<td>+$678.90</td>
				<td>.031%</td>
				<td class="red">-6039.23</td>
				<td>.034%</td>
				<td>4.238%</td>
				<td class="green">YES</td>
				<td class="gutter"></td>
			</tr>
			<tr>
				<td class="gutter"></td>
				<td>$123.45</td>
				<td>+$678.90</td>
				<td>.031%</td>
				<td class="red">-6039.23</td>
				<td>.034%</td>
				<td>4.238%</td>
				<td class="green">YES</td>
				<td class="gutter"></td>
			</tr>
			<tr>
				<td class="gutter"></td>
				<td>$123.45</td>
				<td>+$678.90</td>
				<td>.031%</td>
				<td class="red">-6039.23</td>
				<td>.034%</td>
				<td>4.238%</td>
				<td class="green">YES</td>
				<td class="gutter"></td>
			</tr>
			<tr>
				<td class="gutter"></td>
				<td>$123.45</td>
				<td>+$678.90</td>
				<td>.031%</td>
				<td class="red">-6039.23</td>
				<td>.034%</td>
				<td>4.238%</td>
				<td class="green">YES</td>
				<td class="gutter"></td>
			</tr>
			<tr>
				<td class="gutter"></td>
				<td>$123.45</td>
				<td>+$678.90</td>
				<td>.031%</td>
				<td class="red">-6039.23</td>
				<td>.034%</td>
				<td>4.238%</td>
				<td class="green">YES</td>
				<td class="gutter"></td>
			</tr>
		</table>
		<div class="footer">
			<p>1&ndash;6 of 27</p>
			<i class="nc-icon-glyph arrows-1_minimal-left"></i>
			<i class="nc-icon-glyph arrows-1_minimal-right"></i>
		</div>
	</div>
</div>