	<div style="padding: 45px 10px; background-color: #ededed; height: 100%;">

		<div class="ui-field-contain">
		    <label for="select-custom-1">Basic:</label>
		    <select name="select-custom-1" id="select-custom-1" data-native-menu="false" multiple>
		        <option>Select an item</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		    </select>
		</div>

		<div style="height: 250px"></div>

        <div class="ui-optima">
    		<div class="ui-field-contain">
    		    <label for="select-custom-2">Basic:</label>
    		    <select name="select-custom-2" id="select-custom-2" data-native-menu="false" multiple>
    		        <option value="1">The 1st Option</option>
    		        <option value="2">The 2nd Option</option>
    		        <option value="3">The 3rd Option</option>
    		        <option value="4">The 4th Option</option>
    		    </select>
    		</div>
		</div>

		<div style="height: 250px"></div>
		<div style="height: 250px"></div>
		<div style="height: 250px"></div>
		<div style="height: 250px"></div>

		<div class="ui-field-contain">
		    <label for="select-custom-3">Basic:</label>
		    <select name="select-custom-3" id="select-custom-3" data-native-menu="false" multiple>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		        <option value="2">The 2nd Option</option>
		        <option value="3">The 3rd Option</option>
		        <option value="4">The 4th Option</option>
		        <option value="1">The 1st Option</option>
		    </select>
		</div>

	</div>
