<div class="ui-optima">
    <div class="lightbox-background">
        <div role="main" class="ui-content">
            <a href="#eSignLightbox" data-rel="popup"><div class="ui-btn ui-input-btn btn btn-prim ui-corner-all ui-shadow ui-btn-inline">Open E-sign Lightbox</div></a>
        </div>
        <div class="custom-lightbox ui-popup-screen ui-overlay-b ui-screen-hidden"></div>
        <div class="ui-popup-container ui-popup-hidden ui-popup-truncate popup-lightbox" id="eSignLightbox-popup">
            <div data-role="popup" id="eSignLightbox" class="ui-popup ui-body-inherit popup-lightbox-content" data-dismissible="false" data-position-to="window"  data-enhanced="true" data-overlay-theme="b">
              <p>I accept responsibility for the content I documented in this patient's record and attest, to the best of my knowledge, that it accurately reflects the current performance, condition and medically necessary, skilled services provided per this patient's current treatment plan.</p>
              <div class="popup-lightbox-buttons">
                <a href="#" data-rel="back" class="popup-anchor"><input type="button" value="CANCEL" data-inline="true" data-wrapper-class="btn btn-deny" /></a>
                <a href="#" data-rel="back" class="popup-anchor"><input type="button" value="I ATTEST" data-inline="true" data-wrapper-class="btn btn-cfrm" /></a>
              </div>
            </div>
        </div>
    </div>
</div>
