<div class="ui-optima">
	<div style="padding: 45px 10px; background-color: #ededed; height: 100%;">

		<div id="M0020" class="moo-form">
			<div class="label">
				<div class="bg-azule-dark">
					<span>M0020</span>
				</div>
				<div class="details">
					<div class="text">
						<h5>Patient ID number</h5>
					</div>
					<div class="icons">
						<i class="nc-icon-glyph ui-2_chat-content"></i>
						<div class="divider"></div>
						<i class="nc-icon-glyph ui-2_time"></i>
						<div class="divider"></div>
						<i class="nc-icon-glyph business_chart-bar-33"></i>
						<div class="divider"></div>
						<i class="nc-icon-glyph ui-2_alert-circle-i"></i>
					</div>
				</div>
			</div>
			<div class="content">
				<input type="text" name="name" id="basic" value="" maxlength="15" data-wrapper-class="input-id">
			</div>
		</div>
	</div>
</div>