<div class="ui-optima">
	<div style="padding: 45px 10px; background-color: #ededed; height: 100%;">

		<div id="M0140" class="moo-form">
			<div class="label">
				<div class="bg-azule-dark">
					<span>M0140</span>
				</div>
				<div class="details">
					<div class="text">
						<h5>Race / ethnicity</h5>
					</div>
					<div class="icons">
						<i class="nc-icon-glyph ui-2_chat-content"></i>
						<div class="divider"></div>
						<i class="nc-icon-glyph ui-2_time"></i>
						<div class="divider"></div>
						<i class="nc-icon-glyph business_chart-bar-33"></i>
						<div class="divider"></div>
						<i class="nc-icon-glyph ui-2_alert-circle-i"></i>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="ui-field-contain">
					<fieldset data-role="controlgroup">
						<legend>(Mark all that apply)</legend>

						<input type="checkbox" name="checkbox-1a" id="checkbox-1a" />
						<label for="checkbox-1a">1 - American Indian or Alaska native</label>

						<input type="checkbox" name="checkbox-2a" id="checkbox-2a" />
						<label for="checkbox-2a">2 - Asian</label>

						<input type="checkbox" name="checkbox-3a" id="checkbox-3a" />
						<label for="checkbox-3a">3 - Black or African American</label>

						<input type="checkbox" name="checkbox-4a" id="checkbox-4a" />
						<label for="checkbox-4a">4 - Hispanic or Latino</label>

						<input type="checkbox" name="checkbox-5a" id="checkbox-5a" />
						<label for="checkbox-5a">5 - Native Hawiian or Pasific Islander</label>

						<input type="checkbox" name="checkbox-6a" id="checkbox-6a" />
						<label for="checkbox-6a">6 - White</label>
					</fieldset>
				</div>
			</div>
		</div>

	</div>
</div>