<div class="ui-optima">
	<div style="padding: 45px 10px; background-color: #ededed; height: 100%;">

		<div id="M1024" class="moo-form">
			<div class="label">
				<div class="bg-azule-dark">
					<span>M1024</span>
				</div>
				<div class="details">
					<div class="text">
						<h5>Payment diagnosis (optional)</h5>
					</div>
					<div class="icons">
						<i class="nc-icon-glyph ui-2_chat-content"></i>
						<div class="divider"></div>
						<i class="nc-icon-glyph ui-2_time"></i>
						<div class="divider"></div>
						<i class="nc-icon-glyph business_chart-bar-33"></i>
						<div class="divider"></div>
						<i class="nc-icon-glyph ui-2_alert-circle-i"></i>
					</div>
				</div>
			</div>
			<div class="content">
				<p class="section-header small-heading">
					<i class="nc-icon-glyph ui-2_menu-square"></i>
					Section 3
				</p>
				<div class="ui-field-contain">
					<fieldset data-role="controlgroup">
						<legend>
							Complete if a V-Code is assigned under certain circumstances to Section 2 in place of a case mix diagnosis.
						</legend>

						<table>
							<tr class="head">
								<td></td>
								<td><label>Description (V- or E- Codes are not allowed)</label></td>
							</tr>
							<tr>
								<td class="row-label"><label>a.</label></td>
								<td>
									<input type="text" placeholder="Primary Diagnosis Description">
								</td>
							</tr>
							<tr class="head">
								<td></td>
								<td><label>ICD-9-CM (V- or E- Codes are not allowed)</label></td>
							</tr>
							<tr>
								<td class="row-label"><label>b.</label></td>
								<td>
									<input type="text" data-wrapper-class="icd-9" placeholder="___-__">
								</td>
							</tr>
						</table>
					</fieldset>
				</div>
				<hr />
				<p class="section-header small-heading">
					<i class="nc-icon-glyph ui-2_menu-square"></i>
					Section 4
				</p>
				<div class="ui-field-contain">
					<fieldset data-role="controlgroup">
						<legend>
							Complete ONLY if the V-Code in Section 2 is reported in place of a case mix diagnosis that is a multiple coding situation (e.g. a manifestation code).
						</legend>

						<table>
							<tr class="head">
								<td></td>
								<td><label>Description (V- or E- Codes are not allowed)</label></td>
							</tr>
							<tr>
								<td class="row-label"><label>a.</label></td>
								<td>
									<input type="text" placeholder="Primary Diagnosis Description">
								</td>
							</tr>
							<tr class="head">
								<td></td>
								<td><label>ICD-9-CM (V- or E- Codes are not allowed)</label></td>
							</tr>
							<tr>
								<td class="row-label"><label>b.</label></td>
								<td>
									<input type="text" data-wrapper-class="icd-9" placeholder="___-__">
								</td>
							</tr>
						</table>
					</fieldset>
				</div>
			</div>
		</div>


	</div>
</div>