<div class="ui-optima">
	<div style="padding: 45px 10px; background-color: #ededed; height: 100%;">

		<div id="M1308" class="moo-form">
			<div class="label">
				<div class="bg-azule-dark">
					<span>M1308</span>
				</div>
				<div class="details">
					<div class="text">
						<h5>Current number of unhealed pressure ulcers at each stage or unstagable</h5>
					</div>
					<div class="icons">
						<i class="nc-icon-glyph ui-2_chat-content"></i>
						<div class="divider"></div>
						<i class="nc-icon-glyph ui-2_time"></i>
						<div class="divider"></div>
						<i class="nc-icon-glyph business_chart-bar-33"></i>
						<div class="divider"></div>
						<i class="nc-icon-glyph ui-2_alert-circle-i"></i>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="ui-field-contain">
					<fieldset data-role="controlgroup">
						<legend>
							Enter "0" if none; Excludes Stage I pressure ulcers aand healed Stage II pressure ulcers.
						</legend>
						<table class="three-col">
							<tr class="head">
								<td class="row-label"></td>
								<td><label>Stage descriptions - Unhealed pressure ulcers</label></td>
								<td class="nowrap"><label>Number currently<br/> present</label></td>
							</tr>
							<tr>
								<td class="row-label top pad-top"><p>a.</p></td>
								<td class="top pad-top">
									<p>Stage II: partial thickness loss of dermis presenting as a shallow open ulcer with red pink wound bed, without slough. May also present as an intact or open/ruptured serum-filled blister.</p>
								</td>
								<td class="top pad-top">
									<input type="number" data-wrapper-class="number-rating">
								</td>
							</tr>
							<tr>
								<td class="row-label top pad-top"><p>b.</p></td>
								<td class="top pad-top">
									<p>Stage III: full thickness tissue loss. Subcutaneous fat may be visible but bone, tendon, or muscles are not exposed. Slough may be present but does not obscure the depth of tissue loss. May include undermining and tunneling.</p>
								</td>
								<td class="top pad-top">
									<input type="number" data-wrapper-class="number-rating">
								</td>
							</tr>
							<tr>
								<td class="row-label top pad-top"><p>c.</p></td>
								<td class="top pad-top">
									<p>Stage IV: full thickness tissue loss with visible bone, tendon, or muscle. Slough or eschar may be present on some parts of the wound bed. Often includes undermining and tunneling.</p>
								</td>
								<td class="top pad-top">
									<input type="number" data-wrapper-class="number-rating">
								</td>
							</tr>
							<tr>
								<td class="row-label top pad-top"><p>d.1</p></td>
								<td class="top pad-top">
									<p>Unstageable: known or likely but enstageable due to non-removable dressing or device.</p>
								</td>
								<td class="top pad-top">
									<input type="number" data-wrapper-class="number-rating">
								</td>
							</tr>
							<tr>
								<td class="row-label top pad-top"><p>d.2</p></td>
								<td class="top pad-top">
									<p>Unstageable: known or likely but unstageable due to coverage of wound bed by slouth and/or eschar.</p>
								</td>
								<td class="top pad-top">
									<input type="number" data-wrapper-class="number-rating">
								</td>
							</tr>
							<tr>
								<td class="row-label top pad-top"><p>d.3</p></td>
								<td class="top pad-top">
									<p>Unstageable: suspected deep tissue injury in evolution.</p>
								</td>
								<td class="top pad-top">
									<input type="number" data-wrapper-class="number-rating">
								</td>
							</tr>
						</table>
					</fieldset>
				</div>
			</div>
		</div>

	</div>
</div>
