<div class="ui-optima">
	<div style="padding: 45px 10px; background-color: #ededed; height: 100%;">

		<div id="M1307" class="moo-form">
			<div class="label">
				<div class="bg-azule-dark">
					<span>M1307</span>
				</div>
				<div class="details">
					<div class="text">
						<h5>Oldest Stage II pressure ulcer</h5>
					</div>
					<div class="icons">
						<i class="nc-icon-glyph ui-2_chat-content"></i>
						<div class="divider"></div>
						<i class="nc-icon-glyph ui-2_time"></i>
						<div class="divider"></div>
						<i class="nc-icon-glyph business_chart-bar-33"></i>
						<div class="divider"></div>
						<i class="nc-icon-glyph ui-2_alert-circle-i"></i>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="ui-field-contain">
					<fieldset data-role="controlgroup">
						<legend>
							The Oldest Stage II pressure ulcer that is present at discharge. <br />(Excludes healed Stage II Pressure ulcers).
						</legend>
						<input type="radio" name="radio-choice-g" id="radio-choice-1g" value="0" checked="checked">
						<label for="radio-choice-1g">01 - Around the clock</label>

						<div class="ui-radio contains">
							<label for="radio-choice-2g" class="ui-btn ui-btn-inherit ui-btn-icon-left ui-radio-off">02 - Developed since the most recent soc/roc assessment. Record date pressure ulcer first identified.</label>
							<input type="radio" name="radio-choice-g" id="radio-choice-2g" value="1" data-corners="false" data-enhanced="true" onclick="toggleNextEnabled(this, 'ui-state-disabled')"></input>
							<div id="e8" class="ui-input-text date-input-wrapper ui-state-disabled">
								<input type="number" maxlength="2" placeholder="MM" data-wrapper-class="date-month">
								<input type="number" maxlength="2" placeholder="DD" data-wrapper-class="date-day">
								<input type="number" maxlength="4" placeholder="YYYY" data-wrapper-class="date-year">
							</div>
						</div>

						<input type="radio" name="radio-choice-g" id="radio-choice-3g" value="2">
						<label for="radio-choice-3g">NA - No Stage II pressure ulcers are present at discharge</label>
					</fieldset>
				</div>
			</div>
		</div>

	</div>
</div>

<script>
	// This function has been written for demonstration purpose only.
	var toggleNextEnabled = function (e, c) {
		setInterval(function(last) {
			if (e.checked == last) return;

			if (e.checked)
				$(e).next().removeClass(c);
			else
				$(e).next().addClass(c);

			last = e.checked;
		}, 0);
	}
</script>
