<div class="ui-optima">
    <div data-role="header" class = "sticky-header">

        <a href="#" class="ui-btn-left"><span class="icon-close"></span></a>
        <a href="javascript:toggleMenu()" class="ui-btn-right"><span class="nc-icon-outline ui-2_menu-34"></span></a>
        <span class="divider"></span>
        <a href="#" class="ui-btn-right"><span class="nc-icon-outline ui-1_email-84"></span></a>
        <h1>David Newmon</h1>

        <ul class="menu">
            <li><a href="#"><span class="icon-poc"></span> Point of Care</a></li>
            <li><a href="#"><span class="nc-icon-outline ui-1_calendar-check-59"></span> My Schedule</a></li>
            <li><a href="#"><span class="nc-icon-outline design_bullet-list-67"></span> Labor Log</a></li>
            <li><a href="#"><span class="nc-icon-outline users_square-31"></span> My Profile</a></li>
            <li><a href="#"><span class="nc-icon-outline arrows-1_log-in"></span> Sign Out</a></li>
        </ul>

    </div>
    
    <div>
        <div data-role="nav1"></div>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
        <p>Page Content</p>
    </div>
</div>
<script>

function toggleMenu() {
    $('.menu').addClass('opened');
}

$(document).on('click', function (e) {
    if ($('.menu').hasClass('opened')) {
        $('.menu').removeClass('opened');
        
        e.preventDefault();
        e.stopImmediatePropagation();
    }
});

function viewDialog() {
    $.mobile.changePage( "#dialogPage", { role: "dialog" } );
}

</script>
