<div class="ui-optima">
    <ul class="ui-nav-2 flex fill-even">
        <li>
            <a href="#">
                <span class="icon icon-access"></span>
                Access
            </a>
            <div class="indicator"><div class="icon-chevron"></div></div>
        </li>
        <li>
            <a href="#">
                <span class="icon icon-tests"></span>
                Tests
            </a>
            <div class="indicator"><div class="icon-chevron"></div></div>
        </li>
        <li>
            <a href="#">
                <span class="icon icon-goals"></span>
                Goals
            </a>
            <div class="indicator"><div class="icon-chevron"></div></div>
        </li>
        <li class="active">
            <a href="#">
                <span class="icon icon-medications"></span>
                Medications
            </a>
            <div class="indicator"><div class="icon-chevron"></div></div>
        </li>
        <li>
            <a href="#">
                <span class="icon icon-supplies"></span>
                Supplies
            </a>
            <div class="indicator"><div class="icon-chevron"></div></div>
        </li>
        <li>
            <a href="#">
                <span class="icon icon-plan"></span>
                Plan
            </a>
            <div class="indicator"><div class="icon-chevron"></div></div>
        </li>
    </ul>
</div>
