<div class="ui-optima">
	<div class="btn-wrap">
		<a href="#notify-1" data-rel="popup" data-position-to="window" class="btn btn-scnd inline">Closable Notification</a>
	</div>

	<div class="btn-wrap">
		<a href="#notify-2" data-rel="popup" data-position-to="window" class="btn btn-scnd inline">Persistant Notification</a>
	</div>

	<div class="top-notification cfrm" data-wrapper-class="ui-optima" data-dismissible="false" data-role="popup" id="notify-1">
		<a href="" class="close-btn nc-icon-glyph ui-1_simple-remove" data-role="button" data-rel="back"></a>
		<p>HEY! LISTEN! Okay, that's all.</p>
	</div>

	<div class="top-notification deny" data-wrapper-class="ui-optima" data-dismissible="false" data-role="popup" id="notify-2">
		<p>HEY! LISTEN! Fix the thing!</p>
	</div>

	<hr>

	<div class="input-container">
		<label><label>Incorrect Validation</label></label>
		<input type="text" data-wrapper-class="error">
		<div class="input-message error">
			<p>Please use a valid email address. Lorem ipsum Commodo aliquip quis deserunt esse dolore sint Ut ut laboris id ad dolore deserunt sunt esse minim sint qui labore id est est mollit proident incididunt ut reprehenderit voluptate aliqua sunt do id nulla Ut aliqua anim.</p>
		</div>
	</div>

	<div class="input-container">
		<label><label>Correct Validation</label></label>
		<input type="text" data-wrapper-class="valid">
		<div class="input-message valid">
			<p>Please use a valid email address. Lorem ipsum Commodo aliquip quis deserunt esse dolore sint Ut ut laboris id ad dolore deserunt sunt esse minim sint qui labore id est est mollit proident incididunt ut reprehenderit voluptate aliqua sunt do id nulla Ut aliqua anim.</p>
		</div>
	</div>

</div>