<div class="ui-optima" style = "padding: 20px;">

	<div class="orders-calendar-wrapper">
		<div class="show-hide">
			<a href="#" onclick="hideCal(true)">Hide Calendar</a>
			<a href="#" class="hide" onclick="hideCal(false)">Show Calendar</a>
		</div>

		<div class="calendar">
			<div class="ui-field-contain">
				<div class="header">
					<div class="left">
						<i class="nc-icon-glyph arrows-1_minimal-left"></i>
					</div>
					<div class="month">
						<span>November 2015</span>
					</div>
					<div class="right">
						<i class="nc-icon-glyph arrows-1_minimal-right"></i>
					</div>
				</div>

				<div class="weekdays">
					<div class="weekday-cell">
						<p>Sun</p>
					</div>
					<div class="weekday-cell">
						<p>Mon</p>
					</div>
					<div class="weekday-cell">
						<p>Tue</p>
					</div>
					<div class="weekday-cell">
						<p>Wed</p>
					</div>
					<div class="weekday-cell">
						<p>Thu</p>
					</div>
					<div class="weekday-cell">
						<p>Fri</p>
					</div>
					<div class="weekday-cell">
						<p>Sat</p>
					</div>
				</div>

				<div class="dates-row">
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
							</div>
							<p>1</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-sn start">
									<div class="section"></div>
									<div class="section"></div>
								</div>
							</div>
							<p>2</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-pt">
									<div class="section"></div>
									<div class="section"></div>
									<div class="section"></div>
								</div>
							</div>
							<p>3</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-sn">
									<div class="section"></div>
									<div class="section"></div>
								</div>
							</div>
							<p>4</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-pt">
									<div class="section"></div>
									<div class="section"></div>
									<div class="section"></div>
								</div>
							</div>
							<p>5</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-sn">
									<div class="section"></div>
									<div class="section"></div>
								</div>
							</div>
							<p>6</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders"></div>
							<p>7</p>
						</div>
					</div>
				</div>

				<div class="dates-row">
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders"></div>
							<p>8</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-sn">
									<div class="section"></div>
									<div class="section"></div>
								</div>
							</div>
							<p>9</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-msw start">
									<div class="section"></div>
								</div>
								<div class="type-pt">
									<div class="section"></div>
									<div class="section"></div>
									<div class="section"></div>
								</div>
							</div>
							<p>10</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-sn">
									<div class="section"></div>
									<div class="section"></div>
								</div>
							</div>
							<p>11</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-msw">
									<div class="section"></div>
								</div>
								<div class="type-pt">
									<div class="section"></div>
									<div class="section"></div>
									<div class="section"></div>
								</div>
							</div>
							<p>12</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-sn">
									<div class="section"></div>
									<div class="section"></div>
								</div>
							</div>
							<p>13</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders"></div>
							<p>14</p>
						</div>
					</div>
				</div>

				<div class="dates-row">
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders"></div>
							<p>15</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-ot start">
									<div class="section"></div>
									<div class="section"></div>
									<div class="section"></div>
									<div class="section"></div>
								</div>
							</div>
							<p>16</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-sn start">
									<div class="section"></div>
								</div>
								<div class="type-pt start">
									<div class="section"></div>
								</div>
							</div>
							<p>17</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-ot">
									<div class="section"></div>
									<div class="section"></div>
									<div class="section"></div>
									<div class="section"></div>
								</div>
							</div>
							<p>18</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-sn">
									<div class="section"></div>
								</div>
								<div class="type-pt">
									<div class="section"></div>
								</div>
							</div>
							<p>19</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-ot">
									<div class="section"></div>
									<div class="section"></div>
									<div class="section"></div>
									<div class="section"></div>
								</div>
							</div>
							<p>20</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders"></div>
							<p>21</p>
						</div>
					</div>
				</div>

				<div class="dates-row">
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders"></div>
							<p>22</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-st start">
									<div class="section"></div>
								</div>
							</div>
							<p>23</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-sn">
									<div class="section"></div>
								</div>
								<div class="type-pt">
									<div class="section"></div>
								</div>
								<div class="type-st">
									<div class="section"></div>
								</div>
								<div class="type-ot start">
									<div class="section"></div>
								</div>
							</div>
							<p>24</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-hha start">
									<div class="section"></div>
								</div>
								<div class="type-st">
									<div class="section"></div>
								</div>
							</div>
							<p>25</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-sn">
									<div class="section"></div>
								</div>
								<div class="type-pt">
									<div class="section"></div>
								</div>
								<div class="type-st">
									<div class="section"></div>
								</div>
								<div class="type-ot">
									<div class="section"></div>
								</div>
							</div>
							<p>26</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders">
								<div class="type-hha">
									<div class="section"></div>
								</div>
								<div class="type-st">
									<div class="section"></div>
								</div>
							</div>
							<p>27</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders"></div>
							<p>28</p>
						</div>
					</div>
				</div>

				<div class="dates-row">
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders"></div>
							<p>29</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders"></div>
							<p>30</p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders"></div>
							<p></p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders"></div>
							<p></p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders"></div>
							<p></p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders"></div>
							<p></p>
						</div>
					</div>
					<div class="date-cell">
						<div class="flex-cell">
							<div class="orders"></div>
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="checkboxes">
			<label for="">View:</label>
			<fieldset data-role="controlgroup">
				<input type="checkbox" name="checkbox-group" id="checkbox-1" data-wrapper-class="no-border type-sn inline" checked="checked" />
				<label for="checkbox-1">SN</label>
				<input type="checkbox" name="checkbox-group" id="checkbox-2" data-wrapper-class="no-border type-pt inline" checked="checked" />
				<label for="checkbox-2">PT</label>
				<input type="checkbox" name="checkbox-group" id="checkbox-3" data-wrapper-class="no-border type-ot inline" checked="checked" />
				<label for="checkbox-3">OT</label>
				<input type="checkbox" name="checkbox-group" id="checkbox-4" data-wrapper-class="no-border type-st inline" checked="checked" />
				<label for="checkbox-4">ST</label>
				<input type="checkbox" name="checkbox-group" id="checkbox-5" data-wrapper-class="no-border type-hha inline" checked="checked" />
				<label for="checkbox-5">HHA</label>
				<input type="checkbox" name="checkbox-group" id="checkbox-6" data-wrapper-class="no-border type-msw inline" checked="checked" />
				<label for="checkbox-6">MSW</label>
			</fieldset>
		</div>

	</div>

</div>


<!-- For demonstration purposes only -->
<script>

$(function() {
	window.hideCal = function (hide) {
		var hidBtn = $('.show-hide .hide');
		var visBtn = $('.show-hide a:not(.hide)');

		hidBtn.removeClass('hide');
		visBtn.addClass('hide');

		if (hide) {
			$('.orders-calendar-wrapper .calendar, .orders-calendar-wrapper .checkboxes').addClass('hide');
		}
		else {
			$('.orders-calendar-wrapper .calendar, .orders-calendar-wrapper .checkboxes').removeClass('hide');
		}
	}

	$('input[type="checkbox"]').change(function(e) {
		var typeToToggle = e.target.attributes['data-wrapper-class'].nodeValue.match(/type-[a-z][a-z][a-z]?/g)[0];
		var allOfType = $('.orders .' + typeToToggle);

		if (e.target.attributes['data-cacheval'].nodeValue == 'true') {
			allOfType.addClass('hide');
		}
		else {
			allOfType.removeClass('hide');
		}
	});
});

</script>
