<div class="ui-optima">
	<div style="padding: 45px 0; background-color: #ededed; display: table; width: 100%; height: 100%;">
		<div class = "patient-summary">
			<ul class="ui-nav-1">
				<li><a href="#">Timeline</a></li>
				<li><a href="#">Medical</a></li>
				<li><a href="#">Visit</a></li>
				<li><a href="#">Orders</a></li>
				<li><a href="#">Schedule</a></li>
				<li><a href="#">Files</a></li>
				<li class="active"><a href="#">Profile</a></li>
			</ul>
			<ul class="ui-nav-3">
				<li class="active">
					<a href="#">
						Summary
					</a>
				</li>
				<li>
					<a href="#">
						Vitals
					</a>
				</li>
				<li>
					<a href="#">
						Tests
					</a>
				</li>
				<li>
					<a href="#">
						Goals
					</a>
				</li>
				<li>
					<a href="#">
						Supplies
					</a>
				</li>
				<li>
					<a href="#">
						Medications
					</a>
				</li>
			</ul>
			<div class="row">
				<div class="data-table-icon">
					<div class="icon">
						<i class="icon-avatar-filled"></i>
					</div>
					<div class="form-group summary">
						<div class="form-group-cell">
							<label class="label">GENDER</label>
							<p>Male</p>
						</div>
						<div class="form-group-cell">
							<label class="label">AGE</label>
							<p>64</p>
						</div>
						<div class="form-group-cell">
							<label class="label">MR NUMBER</label>
							<p>0001349</p>
						</div>
						<div class="form-group-cell">
							<label class="label">URGENT ALLERGIES</label>
							<p>Latex, Nut</p>
						</div>
					</div>
				</div>
				<div class="data-table-no-icon">
					<div class="form-group summary">
						<div class="form-group-cell">
							<label class="label primary-physician">PRIMARY PHYSICIAN</label>
							<p>Matthew Grace</p>
							<p>770-446-7890</p>
						</div>
						<div class="form-group-cell">
							<label class="label">PAYER</label>
							<p class = "data-table-payer">MCA | Medicare A PPS</p>
						</div>
						<div class="form-group-cell">
							<label class="label">EPISODE</label>
							<p class="data-table-date">3/25/15 - 5/25/15</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="four-column">
					<div class="column-container">
						<div class = "column">
							<p class = "label">BLOOD PRESSURE</p>
							<p class = "vitals">130/80</p>
							<p class = "label">10/27/14</p>
						</div>
					</div>
					<div class="column-container">
						<div class="column">
							<p class="label">HEART RATE</p>
							<p class="vitals">91</p>
							<p class="label">10/27/14</p>
						</div>
					</div>
					<div class="column-container">
						<div class="column">
							<p class="label">RESPIRATION RATE</p>
							<p class="vitals">12</p>
							<p class="label">10/27/14</p>
						</div>
					</div>
					<div class="column-container">
						<div class="column">
							<p class="label">TEMPERATURE</p>
							<p class="vitals">99.8&deg;</p>
							<p class="label">10/27/14</p>
						</div>
					</div>
				</div>
			</div>



			<div class="column left">
				<div class="two-column">
					<div class="half-column">
						<p class="form-title">Diagnosis</p>
						<hr class="title-ruler">
						<div class="form-group no-border secondary-heading">
							<p class="title">PRIMARY DIAGNOSIS - M1020</p>
						</div>
						<div class="form-group no-border diagnosis secondary-heading">
							<label class="label">M84.361A</label>
							<a class="diagnosis-link" href="#">Stress fracture, right tibia, initial encounter for fracture</a>
						</div>
						<div class="form-group secondary-heading">
							<p class="title">OTHER DIAGNOSES - M1022</p>
						</div>
						<div class="form-group diagnosis secondary-heading">
							<label class="label">780.2</label>
							<a class="diagnosis-link other-diagnosis-link" href="#">Syncope (Syncope) And Collapse</a>
						</div>
						<div class="form-group diagnosis secondary-heading">
							<label class="label">719.7</label>
							<a class="diagnosis-link other-diagnosis-link" href="#">Difficulty in Walking</a>
						</div>
						<div class="form-group diagnosis secondary-heading">
							<label class="label">780.2</label>
							<a class="diagnosis-link other-diagnosis-link" href="#">Syncope (Syncope) And Collapse</a>
						</div>
						<div class="form-group diagnosis secondary-heading">
							<label class="label">719.7</label>
							<a class="diagnosis-link other-diagnosis-link" href="#">Difficulty in Walking</a>
						</div>
					</div>
				</div>
				<div class="two-column">
					<div class="half-column">
						<p class="form-title">Pain history</p>
						<hr class="title-ruler">
						<div class="form-group no-graph">
							<label>No pain measurements taken</label>
						</div>
					</div>
				</div>
			</div>
			<div class="column right">
				<div class="two-column freq-duration">
					<div class="half-column">
						<p class="form-title">Frequency &amp; duration</p>
						<hr class="title-ruler">
						<div class="form-group no-border">
							<div class="number">
								<p>1</p>
							</div>
							<div class="schedule">
								<div class="frequency-duration">
									<p>3x/week</p>
									<span class="border">|</span>
									<p>2 weeks</p>
									<span class="border">|</span>
									<p>2x/day</p>
								</div>
								<div class="days">
									<p>T, Th</p>
								</div>
							</div>
						</div>
						<div class="form-group no-border">
							<div class="number">
								<p>2</p>
							</div>
							<div class="schedule">
								<div class="frequency-duration">
									<p>3x/week</p>
									<span class="border">|</span>
									<p>2 weeks</p>
									<span class="border">|</span>
									<p>2x/day</p>
								</div>
								<div class="days">
									<p>T, Th</p>
									<i class = "nc-icon-glyph ui-1_lock-open"></i>
								</div>
							</div>
						</div>
						<div class="form-group secondary-heading">
							<p class="title">TREATMENT ACTIVITIES</p>
						</div>
						<div class="form-group treatment-activities">
							<p>Apply finger cast</p>
						</div>
						<div class="form-group treatment-activities">
							<p>Speech group treatment</p>
						</div>
						<div class="form-group treatment-activities">
							<p>Cognitive treatment and therapy</p>
						</div>
						<div class="form-group treatment-activities">
							<p>Evaluation of speech fluency</p>
						</div>
					</div>
				</div>
				<div class="two-column test-scores-container">
					<div class="half-column">
						<p class="form-title">Recent test scores</p>
						<hr class="title-ruler">
						<div class="form-group no-border scores">
							<p class="title">PHARETRA SEM CURSUS</p>
							<p class="test-scores">41/50</p>
							<label class = "reading-date">10/27/2014</label>
						</div>
					</div>
				</div>
			</div>



		</div>
	</div>
</div>