<div class="ui-optima">

	<div class="supplies-request bg-silver-light">
		<div data-role="header" class = "sticky-header">
	        <a href="#" class="ui-btn-left"><span class="icon-close"></span></a>
	        <a href="javascript:toggleMenu()" class="ui-btn-right"><span class="nc-icon-outline ui-2_menu-34"></span></a>
	        <span class="divider"></span>
	        <a href="#" class="ui-btn-right"><span class="nc-icon-outline ui-1_email-84"></span></a>
	        <h1>Philip McCoy</h1>

	        <ul class="menu">
	            <li><a href="#"><span class="icon-poc"></span> Point of Care</a></li>
	            <li><a href="#"><span class="nc-icon-outline ui-1_calendar-check-59"></span> My Schedule</a></li>
	            <li><a href="#"><span class="nc-icon-outline design_bullet-list-67"></span> Labor Log</a></li>
	            <li><a href="#"><span class="nc-icon-outline users_square-31"></span> My Profile</a></li>
	            <li><a href="#"><span class="nc-icon-outline arrows-1_log-in"></span> Sign Out</a></li>
	        </ul>
	    </div>

		<ul class="ui-nav-1">
		    <li><a href="#">Timeline</a></li>
		    <li class="active"><a href="#">Medical</a></li>
		    <li><a href="#">Visit</a></li>
		    <li><a href="#">Orders</a></li>
		    <li><a href="#">Schedule</a></li>
		    <li><a href="#">Files</a></li>
		    <li><a href="#">Profile</a></li>
		</ul>

		<ul class="ui-nav-3">
	        <li><a href="#">Summary</a></li>
	        <li><a href="#">Vitals</a></li>
	        <li><a href="#">Tests</a></li>
	        <li><a href="#">Goals</a></li>
	        <li class="active"><a href="#">Supplies</a></li>
	        <li><a href="#">Medications</a></li>
	    </ul>

		<ul class="ui-nav-4">
	        <li class="active"><a href="#">Requested supplies</a></li>
	        <li><a href="#">Search</a></li>
	        <li><a href="#">Order history</a></li>
	    </ul>

		<div class="ui-listbox-container pad-n">
			<!-- class "readonly" or class "edit" -->
			<div class="ui-listbox pad-u readonly">
				<div class="space-lg flex">
					<h2 class="card-heading left">Aquaflo Hydrogel Wound Dressings by Covidien</h2>
				</div>
				<div class="flex">
					<div class="pad-right">
						<p class="dark"><strong>Dressing, Aquaflo, Hydrogel, 3”</strong></p>
						<p class="dark sm">HCPCS Code: A6242</p>
						<p class="dark sm">Manufacturer / supplier #: 8884476139</p>
						<div class="quantity">
							<label for="">Quantity</label>
							<div class="flex left">
								<input type="text" placeholder="Amount" data-wrapper-class="bordered inline half">
								<p class="inline dark no-margin readonly-text">3</p>
								<p class="inline dark no-margin pad-left">Rolls</p>
							</div>
						</div>
					</div>
					<div class="fx-end fx-fixed">
						<input type="button" value="Edit" data-wrapper-class="btn-lg btn-scnd edit-btn">
						<input type="button" value="Save" data-wrapper-class="btn-lg btn-scnd save-btn">
					</div>
				</div>
			</div>
			<div class="ui-listbox pad-u readonly">
				<div class="space-lg flex">
					<h2 class="card-heading left">Needle Option 2</h2>
				</div>
				<div class="flex">
					<div class="pad-right">
						<p class="dark"><strong>Dressing, Aquaflo, Hydrogel, 3”</strong></p>
						<p class="dark sm">HCPCS Code: A6242</p>
						<p class="dark sm">Manufacturer / supplier #: 8884476139</p>
						<div class="quantity">
							<label for="">Quantity</label>
							<div class="flex left">
								<input type="text" placeholder="Amount" data-wrapper-class="bordered inline half">
								<p class="inline dark no-margin readonly-text">6</p>
								<p class="inline dark no-margin pad-left">Boxes</p>
							</div>
						</div>
					</div>
					<div class="fx-end fx-fixed">
						<input type="button" value="Edit" data-wrapper-class="btn-lg btn-scnd edit-btn">
						<input type="button" value="Save" data-wrapper-class="btn-lg btn-scnd save-btn">
					</div>
				</div>
			</div>
		</div>

		<div class="ui-listbox-container pad-u">
			<div class="space-sm"></div>
			<div class="space-sm flex underline-sec-head">
				<h3 class="fx-end">Awaiting approval</h3>
			</div>

			<div class="ui-listbox pad-u readonly">
				<div class="space-lg flex">
					<h2 class="card-heading left">Ultra-Fine Needle Insulin Syringes by Becton Dickinson</h2>
				</div>
				<div class="flex">
					<div class="pad-right">
						<p class="dark"><strong>Dressing, Aquaflo, Hydrogel, 3”</strong></p>
						<p class="dark sm">HCPCS Code: A6242</p>
						<p class="dark sm">Manufacturer / supplier #: 8884476139</p>
						<div class="quantity">
							<label for="">Quantity</label>
							<div class="flex left">
								<p class="inline dark no-margin">6 Boxes</p>
							</div>
						</div>
					</div>
					<div class="fx-start">
						<label for="">Date Requested</label>
						<p class="dark no-margin">8/27/2015</p>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- END SUPPLIES SEARCH -->

</div>

<script>
	$(function() {
		$('.ui-page').css('background-color', '#ededed');

		setTimeout(function() {
			$('.edit-btn').click(function(e) {
				$(e.target).closest('.ui-listbox').removeClass('readonly').addClass('edit');
			});

			$('.save-btn').click(function(e) {
				$(e.target).closest('.ui-listbox').removeClass('edit').addClass('readonly');
			});
		}, 100);
	});


</script>
