<div class="ui-optima">

	<div data-role="header" class = "sticky-header">
        <a href="#" class="ui-btn-left"><span class="icon-close"></span></a>
        <a href="javascript:toggleMenu()" class="ui-btn-right"><span class="nc-icon-outline ui-2_menu-34"></span></a>
        <span class="divider"></span>
        <a href="#" class="ui-btn-right"><span class="nc-icon-outline ui-1_email-84"></span></a>
        <h1>Phillip McCoy</h1>

        <ul class="menu">
            <li><a href="#"><span class="icon-poc"></span> Point of Care</a></li>
            <li><a href="#"><span class="nc-icon-outline ui-1_calendar-check-59"></span> My Schedule</a></li>
            <li><a href="#"><span class="nc-icon-outline design_bullet-list-67"></span> Labor Log</a></li>
            <li><a href="#"><span class="nc-icon-outline users_square-31"></span> My Profile</a></li>
            <li><a href="#"><span class="nc-icon-outline arrows-1_log-in"></span> Sign Out</a></li>
        </ul>
    </div>

	<ul class="ui-nav-1">
	    <li class="active"><a href="#">Timeline</a></li>
	    <li><a href="#">Medical</a></li>
	    <li><a href="#">Visit</a></li>
	    <li><a href="#">Orders</a></li>
	    <li><a href="#">Schedule</a></li>
	    <li><a href="#">Files</a></li>
	    <li><a href="#">Profile</a></li>
	</ul>

	<div class="timeline">
		<div class="item day-marker">
			<span>Today - 6/26</span>
		</div>
		<div class="item cal">
			<i class="circle nc-icon-glyph"></i>
			<div class="box">
				<div class="title">
					<span>8:30 AM</span>
				</div>
				<p>
					Phillip McCoy booked a <span class="highlight">new appointment</span> for July 20 at 3:30 pm for a routine visit.
				</p>
			</div>
		</div>
		<div class="item bell">
			<i class="circle nc-icon-glyph"></i>
			<div class="box">
				<div class="title">
					<span>6:30 AM</span>
					<span>Bethany Carlton</span>
				</div>
				<p>
					New medication 3 mg Coumadin. <span class="highlight">Possible interaction</span>: Lasix (furosemide)
				</p>
			</div>
		</div>
		<div class="item day-marker">
			<span>Yesterday - 6/25</span>
		</div>
		<div class="item cal">
			<i class="circle nc-icon-glyph"></i>
			<div class="box">
				<div class="title">
					<span>8:30 AM</span>
				</div>
				<p>
					Phillip McCoy changed his <span class="highlight">appointment</span> from 1:00pm to 2:00 pm for today’s visit.
				</p>
			</div>
		</div>
		<div class="item paper">
			<i class="circle nc-icon-glyph"></i>
			<div class="box">
				<div class="title">
					<span>3:00 PM</span>
					<span>Kathryn Reddington</span>
				</div>
				<p>
					Lorem ipsum dolor sit amet, <span class="highlight">consectetur adipiscing</span> elit. Aenean ac est sed quam fringilla porttitor sagittis ut nunc. Proin nec lorem porta tortor pulvinar mollis vel ac mauris. Proin nec lorem porta tortor pulvinar.
				</p>
			</div>
		</div>
		<div class="item day-marker">
			<span>Monday - 6/24</span>
		</div>
		<div class="item doc">
			<i class="circle nc-icon-glyph"></i>
			<div class="box">
				<div class="title">
					<span>4:15 PM</span>
					<span>William Morrison</span>
				</div>
				<p>
					Lorem ipsum dolor sit amet, <span class="highlight">consectetur adipiscing</span> elit. Aenean ac est sed quam fringilla porttitor sagittis ut nunc. Proin nec lorem porta tortor pulvinar mollis vel ac mauris. Proin nec lorem porta tortor pulvinar.
				</p>
			</div>
		</div>
		<div class="item doc">
			<i class="circle nc-icon-glyph"></i>
			<div class="box">
				<div class="title">
					<span>4:15 PM</span>
					<span>William Morrison</span>
				</div>
				<p>
					Lorem ipsum dolor sit amet, <span class="highlight">consectetur adipiscing</span> elit. Aenean ac est sed quam fringilla porttitor sagittis ut nunc. Proin nec lorem porta tortor pulvinar mollis vel ac mauris. Proin nec lorem porta tortor pulvinar.
				</p>
			</div>
		</div>
	</div>

	<div class="footer-nav">
		<div class="bg-aqua timeline-footer">
			<div class="left">
				<div class="footer-label">
					<span>Filter by:</span>
				</div>
				<div class="footer-buttons text-icon active">
					<span>ALL</span>
				</div>
				<div class="footer-buttons">
					<i class="nc-icon-glyph cal"></i>
				</div>
				<div class="footer-buttons">
					<i class="nc-icon-glyph paper"></i>
				</div>
				<div class="footer-buttons">
					<i class="nc-icon-glyph doc"></i>
				</div>
				<div class="footer-buttons">
					<i class="nc-icon-glyph bell"></i>
				</div>
			</div>
			<div class="right">
				<div class="footer-buttons txt-switch">
					<i class="nc-icon-glyph note"></i>
				</div>
			</div>
		</div>
		<div class="footer-text-area hide">
			<div class="flex fill stretch-x">
				<div class="left input-holder">
					<textarea class="text-input" data-role="none" placeholder="Enter note" resize="false"></textarea>
				</div>
				<div class="buttons right fx-fixed flex fx-v">
					<input type="button" value="Add Note" data-wrapper-class="btn-lg btn-cfrm no-margin">
					<input type="button" value="Cancel" data-wrapper-class="btn-lg btn-scnd no-margin invert">
				</div>
			</div>
		</div>
	</div>
</div>

<script>

function toggleMenu() {
    $('.menu').addClass('opened');
}

$(document).on('click', function (e) {
    if ($('.menu').hasClass('opened')) {
        $('.menu').removeClass('opened');

        e.preventDefault();
        e.stopImmediatePropagation();
    }
});

$('.footer-buttons').on('click', function () {
	if (!($('.footer-text-area').hasClass('hide'))) {
		$('.footer-text-area').addClass('hide');
	}

    $('.footer-buttons').removeClass('active');
    $(this).addClass('active');

    if($('.txt-switch').hasClass('active')) {
    	$('.footer-text-area').removeClass('hide');
    }
});

$('.icon-container').on('click', function () {
	$('.footer-text-area').addClass('hide');
});


function viewDialog() {
    $.mobile.changePage( "#dialogPage", { role: "dialog" } );
}

</script>
