$white: #ffffff;
$iron: #979797;

$mud-light: #727272;
$mud: #636363;
$mud-dark: #595959;

@import url('fonts/nucleo-glyph.min.css');

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'ProximaNova-Light'; /*a name to be used later*/
    src: url('fonts/ProximaNova-Light.otf'); /*URL to font*/
}

@font-face {
    font-family: 'ProximaNova-Regular'; /*a name to be used later*/
    src: url('fonts/ProximaNova-Regular.otf'); /*URL to font*/
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

a, a:hover, a:visited, a:active, a:focus {
    color: $white;
    text-decoration: none;
}

body {
	color: $white;
    font-family: 'ProximaNova-Regular', sans-serif;
}

.left {
    display: inline-block;
}

.container {
    position: relative;
}

.nc-icon-glyph::before {
    font-family: 'Nucleo Glyph';
}

.header, .menu {
    .text-light {
        font-family: 'ProximaNova-Light';
    }

    .text {
        font-family: 'ProximaNova-Regular';
    }
}


.menu-btn {
	background-color: $mud-light;
	border-radius: 5px;
	cursor: pointer;
    padding: 17px;
    position: absolute;
    z-index: 1001;
    top: 7px;
    left: 10px;
    width: 113px;

    p {
        margin: 0;
    }

    .hamburger-close {
    	width: 23px;
        height: 10px;
        top: -1px;
    	position: relative;
    	display: inline-block;

        span {
        	display: block;
        	position: absolute;
        	height: 1px;
        	width: 100%;
        	background: $white;
        	border-radius: 6px;
        	opacity: 1;
        	left: 0;

        	transition: .25s ease-in-out;

            -webkit-transform-origin: left center;
            transform-origin: left center;

            &:nth-child(1) { top: 0px; }
            &:nth-child(2) { top: 6px; }
            &:nth-child(3) { top: 12px; }
        }

        &.open span {
            &:nth-child(1) {
            	-webkit-transform: rotate(45deg);
            	transform: rotate(45deg);
            	top: -3px;
            	left: 8px;
            }

            &:nth-child(2) {
            	width: 0%;
            	opacity: 0;
            }

            &:nth-child(3) {
            	-webkit-transform: rotate(-45deg);
            	transform: rotate(-45deg);
            	top: 14px;
            	left: 8px;
            }
        }
    }

    .menu-text {
    	display: inline-block;
        position: relative;
        top: 1px;
        padding-left: 10px;
        font-size: 15px;
    }
}

.header {
    height: 70px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    background-color: $mud;
    padding: 10px 10px;
    position: relative;

    p {
        margin-bottom: 0;
    }

    .menu-btn {
        z-index: 0;
        position: static;
    }

    .title {
        flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        text-align: center;
        font-size: 21px;
    }

    .left, .right {
        flex: 0 0 113px;
    }

    .right {
        text-align: right;
    }
}

.menu {
    background-color: $mud-dark;
	position: absolute;
	width: 100%;
	display: block;
    z-index: 1000;
    top: 0;
    overflow: hidden;
    transition: all .2s ease-in-out;
    padding: 0 40px;
    opacity: 0;

    &.collapse {
        z-index: 0;
    }

    &.in {
        padding-top: 20px;
        padding-bottom: 20px;
        opacity: .97;
        height: 100% !important;
        overflow-y: visible;
    }

    /* Override Bootstrap's panel styles */
    .panel {
        margin: 0;
        background: none;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    .menu-repeat:first-of-type {
        margin-top: 70px;
        .list-title { border: none; }
    }
    .list-title {
        font-size: 25px;
        border-top: solid 1px $iron;
        position: relative;

        > a {
            padding: 20px 10px;
            display: block;

            &:not(.collapsed).nc-icon-glyph::before {
                transform: rotate(-180deg);
            }
        }

        .nc-icon-glyph::before {
            position: absolute;
            right: 16px;
            transition: transform .2s ease-in-out;
        }
    }

    .list {
        padding-top: 5px;
        padding-bottom: 25px;
        font-size: 18px;

        a {
            margin: 0;
            padding: 3px 10px;
            display: block;
        }
    }
}

.category-list {
    background-color: $mud-dark;
    padding: 10px 10px;

    .item-link {
        font-size: 15px;
        opacity: .5;
        margin: 3px 10px;
        display: inline-block;

        &.active {
            opacity: 1;
            position: relative;

            &::after {
                content: '';
                width: 100%;
                height: 1px;
                background-color: $white;
                opacity: .5;
                position: absolute;
                bottom: 4px;
                left: 0;
            }
        }
    }
}

.code-snippet {
    pre {
        padding: 0;
        margin: 0;
        border-radius: 0;
        border: none;
        display: -webkit-flex;
        display: flex;
        word-break: break-word;
    }

    code {
        padding: 40px;
        width: 100%;
    }
}


/*  Caleb's Styles are starting here :)  */


.homepage-container{
  background-color: #EDEDED;
  color: #333333;
  position:absolute;
  padding:0 10px;
  width: 100%;

    .welcome-container{
      padding:40px;
      float: left;
    }

    .welcome-container h1{
        font-size: 40px;
        line-height: 40px;
        font-family: 'ProximaNova-Light';
        color: black;
    }

    .welcome-container p{
      font-size: 16px;
      color: #686868;
      line-height: 28px;
    }

    .menu-container{
      float: left;
      width: 100%;
      background-color:white;
      border-radius: 2px;
      padding:30px 20px;
      margin-bottom: 40px;
      box-shadow: 0px 2px 0px 0px #D8D8D8;
    }

    li.level-1{
      float:left;
      width: 100%;
      margin-bottom: 30px;
      padding-right: 20px;
    }

    li.level-1 h1{
      font-size: 20px;
      color: #000000;
      line-height: 40px;
      margin: 0;
    }

    li.level-1 a{
        color:#1657C6;
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 8px;
        display: block;
    }

    li.level-1 a:hover{
        text-decoration: underline;
    }

    ul.level-2 {
      list-style-image: url('../images/bullet.svg');
        list-style-position: inside;
    }

    // Responsive Sates

    @media screen and (min-width:500px) and (max-width:900px) {
        li.level-1{
            width: 50%;
        }
    }

    @media screen and (min-width:900px) and (max-width:1200px){
        li.level-1{
            width: 30%;
        }
        .welcome-container {
            padding: 40px 0;
            float: none;
            width: 700px;
            margin: 0 auto;
        }
    }

    @media screen and (min-width:1200px) {
        li.level-1{
            width: 20%;
        }
        .welcome-container {
            padding: 40px 0;
            float: none;
            width: 700px;
            margin: 0 auto;
        }
    }
}
