* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'ProximaNova-Light'; /*a name to be used later*/
    src: url('fonts/ProximaNova-Light.otf'); /*URL to font*/
}


/* TO DO: Add correct font-family */

body {
	color: #FFF;
	font-family: sans-serif;
}

.left {
    display: inline-block;
}

#nav-button {
	background-color: #727272;
	border-radius: 5px;
	cursor: pointer;
    padding: 17px;

    .hamburger-close {
    	width: 23px;
        height: 10px;
    	position: relative;
    	display: inline-block;

        span {
        	display: block;
        	position: absolute;
        	height: 1px;
        	width: 100%;
        	background: #FFF;
        	border-radius: 6px;
        	opacity: 1;
        	left: 0;

        	transition: .25s ease-in-out;

            -webkit-transform-origin: left center;
            transform-origin: left center;

            &:nth-child(1) { top: 0px; }
            &:nth-child(2) { top: 6px; }
            &:nth-child(3) { top: 12px; }
        }

        &.open span {
            &:nth-child(1) {
            	-webkit-transform: rotate(45deg);
            	transform: rotate(45deg);
            	top: -3px;
            	left: 8px;
            }

            &:nth-child(2) {
            	width: 0%;
            	opacity: 0;
            }

            &:nth-child(3) {
            	-webkit-transform: rotate(-45deg);
            	transform: rotate(-45deg);
            	top: 14px;
            	left: 8px;
            }
        }
    }

    .menu-text {
    	display: inline-block;
        position: relative;
        top: 2px;
        padding-left: 10px;
        font-size: 15px;
    }
}


#fly-out-menu {
	display: none;
}

#fly-out-menu.open {
	background-color: #595959;
	position: absolute;
	width: 100%;
	display: block;
	margin-top: 70px;
}

.header, .menu {
    .text-light {
        font-family: 'ProximaNova-Light';
    }
}

.header {
    height: 70px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    background-color: #636363;
    padding: 10px;

    p {
        margin-bottom: 0;
    }

    .title {
        flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        text-align: center;
        font-size: 21px;
    }

    .left, .right {
        flex: 0 0 113px;
    }

    .right {
        text-align: right;
    }
}

.main-category {
	margin: 0 40px;
	height: 30px;
	padding: 10px 0;
	border-bottom: 1px solid #FFF;
}

.main-category p {
	font-size: 26px;
	padding-top: 5px;
}

.sub-category {
	margin: 0 40px;
}

.sub-category p {
	padding-top: 10px;
}

/* accordions */
