@import url("fonts/nucleo-glyph.min.css");
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

@font-face {
  font-family: 'ProximaNova-Light';
  /*a name to be used later*/
  src: url("fonts/ProximaNova-Light.otf");
  /*URL to font*/ }
@font-face {
  font-family: 'ProximaNova-Regular';
  /*a name to be used later*/
  src: url("fonts/ProximaNova-Regular.otf");
  /*URL to font*/ }
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

a, a:hover, a:visited, a:active, a:focus {
  color: #ffffff;
  text-decoration: none; }

body {
  color: #ffffff;
  font-family: 'ProximaNova-Regular', sans-serif; }

.left {
  display: inline-block; }

.container {
  position: relative; }

.nc-icon-glyph::before {
  font-family: 'Nucleo Glyph'; }

.header .text-light, .menu .text-light {
  font-family: 'ProximaNova-Light'; }
.header .text, .menu .text {
  font-family: 'ProximaNova-Regular'; }

.header {
  height: 70px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  background-color: #636363;
  padding: 10px;
  position: relative;
  z-index: 2000; }
  .header p {
    margin-bottom: 0; }
  .header .title {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    text-align: center;
    font-size: 21px; }
  .header .left, .header .right {
    flex: 0 0 113px; }
  .header .right {
    text-align: right; }
  .header .menu-btn {
    background-color: #727272;
    border-radius: 5px;
    cursor: pointer;
    padding: 17px; }
    .header .menu-btn .hamburger-close {
      width: 23px;
      height: 10px;
      position: relative;
      display: inline-block; }
      .header .menu-btn .hamburger-close span {
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background: #ffffff;
        border-radius: 6px;
        opacity: 1;
        left: 0;
        transition: .25s ease-in-out;
        -webkit-transform-origin: left center;
        transform-origin: left center; }
        .header .menu-btn .hamburger-close span:nth-child(1) {
          top: 0px; }
        .header .menu-btn .hamburger-close span:nth-child(2) {
          top: 6px; }
        .header .menu-btn .hamburger-close span:nth-child(3) {
          top: 12px; }
      .header .menu-btn .hamburger-close.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -3px;
        left: 8px; }
      .header .menu-btn .hamburger-close.open span:nth-child(2) {
        width: 0%;
        opacity: 0; }
      .header .menu-btn .hamburger-close.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 14px;
        left: 8px; }
    .header .menu-btn .menu-text {
      display: inline-block;
      position: relative;
      top: 2px;
      padding-left: 10px;
      font-size: 15px; }

.menu {
  background-color: #595959;
  position: absolute;
  width: 100%;
  display: block;
  z-index: 1000;
  top: 70px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  padding: 0 40px;
  opacity: 0; }
  .menu.in {
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 1; }
  .menu .list-title {
    font-size: 25px;
    padding: 16px 10px;
    border-top: solid 1px #979797;
    position: relative; }
    .menu .list-title:first-of-type {
      border: none; }
    .menu .list-title a {
      padding: 16px 10px;
      display: block; }
    .menu .list-title .nc-icon-glyph::before {
      position: absolute;
      right: 16px;
      transition: transform .2s ease-in-out; }
    .menu .list-title.open .nc-icon-glyph::before {
      transform: rotate(-180deg); }
    .menu .list-title .list {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 18px; }
      .menu .list-title .list a {
        margin: 0;
        padding: 3px 10px; }

/*  Caleb's Styles are starting here :)  */
.homepage-container {
  background-color: #EDEDED;
  color: #333333;
  position: absolute;
  padding: 0 10px; }
  .homepage-container .welcome-container {
    padding: 40px;
    float: left; }
  .homepage-container .welcome-container h1 {
    font-size: 40px;
    line-height: 40px;
    font-family: 'ProximaNova-Light';
    color: black; }
  .homepage-container .welcome-container p {
    font-size: 16px;
    color: #686868;
    line-height: 28px; }
  .homepage-container .menu-container {
    float: left;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    padding: 30px 20px;
    margin-bottom: 40px;
    box-shadow: 0px 2px 0px 0px #D8D8D8; }
  .homepage-container li.level-1 {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding-right: 20px; }
  .homepage-container li.level-1 h1 {
    font-size: 20px;
    color: #000000;
    line-height: 40px;
    margin: 0; }
  .homepage-container li.level-1 a {
    color: #1657C6;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 8px;
    display: block; }
  .homepage-container li.level-1 a:hover {
    text-decoration: underline; }
  .homepage-container ul.level-2 {
    list-style-image: url("../images/bullet.svg");
    list-style-position: inside; }
  @media screen and (min-width: 500px) and (max-width: 900px) {
    .homepage-container li.level-1 {
      width: 50%; } }
  @media screen and (min-width: 900px) {
    .homepage-container li.level-1 {
      width: 30%; } }

/*# sourceMappingURL=styles.css.map */
