@import url("fonts/nucleo-glyph.min.css");
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

@font-face {
  font-family: 'ProximaNova-Light';
  /*a name to be used later*/
  src: url("fonts/ProximaNova-Light.otf");
  /*URL to font*/ }
@font-face {
  font-family: 'ProximaNova-Regular';
  /*a name to be used later*/
  src: url("fonts/ProximaNova-Regular.otf");
  /*URL to font*/ }
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

a, a:hover, a:visited, a:active, a:focus {
  color: white;
  text-decoration: none; }

html, body, .main-wrapper {
  height: 100%; }

.main-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .main-wrapper > * {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto; }

body {
  color: white;
  font-family: 'ProximaNova-Regular', sans-serif; }

.left {
  display: inline-block; }

.container {
  position: relative; }

.nc-icon-glyph::before {
  font-family: 'Nucleo Glyph'; }

.header .text-light, .menu .text-light {
  font-family: 'ProximaNova-Light'; }
.header .text, .menu .text {
  font-family: 'ProximaNova-Regular'; }

.menu-btn {
  background-color: #191919;
  border-radius: 5px;
  cursor: pointer;
  padding: 17px;
  position: absolute;
  z-index: 1001;
  top: 7px;
  left: 10px;
  width: 113px; }
  .menu-btn p {
    margin: 0; }
  .menu-btn .hamburger-close {
    width: 23px;
    height: 10px;
    top: -1px;
    position: relative;
    display: inline-block; }
    .menu-btn .hamburger-close span {
      display: block;
      position: absolute;
      height: 1px;
      width: 100%;
      background: white;
      border-radius: 6px;
      opacity: 1;
      left: 0;
      transition: .25s ease-in-out;
      -webkit-transform-origin: left center;
      transform-origin: left center; }
      .menu-btn .hamburger-close span:nth-child(1) {
        top: 0px; }
      .menu-btn .hamburger-close span:nth-child(2) {
        top: 6px; }
      .menu-btn .hamburger-close span:nth-child(3) {
        top: 12px; }
    .menu-btn .hamburger-close.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -3px;
      left: 8px; }
    .menu-btn .hamburger-close.open span:nth-child(2) {
      width: 0%;
      opacity: 0; }
    .menu-btn .hamburger-close.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 14px;
      left: 8px; }
  .menu-btn .menu-text {
    display: inline-block;
    position: relative;
    top: 1px;
    padding-left: 10px;
    font-size: 15px; }

.header {
  height: 70px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  background-color: black;
  padding: 10px 10px;
  position: relative; }
  .header p {
    margin-bottom: 0; }
  .header .menu-btn {
    z-index: 0;
    position: static; }
  .header .title {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    text-align: center;
    font-size: 21px; }
  .header .left, .header .right {
    flex: 0 0 113px; }
  .header .right {
    text-align: right; }

.menu {
  background-color: black;
  position: absolute;
  width: 100%;
  display: block;
  z-index: 1000;
  top: 0;
  overflow: hidden;
  transition: all .2s ease-in-out;
  padding: 0 40px;
  opacity: 0;
  /* Override Bootstrap's panel styles */ }
  .menu.collapse {
    z-index: 0; }
  .menu.in {
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: .95;
    height: 100% !important;
    overflow-y: visible; }
  .menu .panel {
    margin: 0;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none; }
  .menu .menu-repeat:first-of-type {
    margin-top: 70px; }
    .menu .menu-repeat:first-of-type .list-title {
      border: none; }
  .menu .list-title {
    font-size: 25px;
    border-top: solid 1px #979797;
    position: relative; }
    .menu .list-title > a {
      padding: 20px 10px;
      display: block; }
      .menu .list-title > a:not(.collapsed).nc-icon-glyph::before {
        transform: rotate(-180deg); }
    .menu .list-title .nc-icon-glyph::before {
      position: absolute;
      right: 16px;
      transition: transform .2s ease-in-out; }
  .menu .list {
    padding-top: 5px;
    padding-bottom: 25px;
    font-size: 18px; }
    .menu .list a {
      margin: 0;
      padding: 3px 10px;
      display: block; }

.category-list {
  background-color: #191919;
  padding: 10px 10px; }
  .category-list .item-link {
    font-size: 15px;
    opacity: .5;
    margin: 3px 10px;
    display: inline-block; }
    .category-list .item-link.active, .category-list .item-link:hover {
      opacity: 1;
      position: relative; }
      .category-list .item-link.active::after, .category-list .item-link:hover::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: white;
        opacity: .5;
        position: absolute;
        bottom: 4px;
        left: 0; }

basic-seamless-iframe {
  position: relative;
  display: block;
  height: 200px;
  overflow: hidden; }

.code-snippet {
  background-color: black;
  padding: 10px 10px 0;
  -webkit-flex-grow: 1;
  flex-grow: 1; }
  .code-snippet pre {
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    display: -webkit-flex;
    display: flex;
    word-break: break-word;
    background-color: black; }
  .code-snippet code {
    padding: 40px 40px 15px;
    width: 100%;
    color: white; }
  .code-snippet .hljs {
    background-color: black; }
    .code-snippet .hljs .hljs-value {
      color: #ebc328; }
    .code-snippet .hljs .hljs-attribute {
      color: #95d004; }
    .code-snippet .hljs .hljs-title {
      color: #FF3B82; }
  .code-snippet .window-link {
    background-color: #282828;
    height: 40px;
    display: block;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    font-family: 'ProximaNova-Light'; }
    .code-snippet .window-link .nc-icon-glyph {
      float: right;
      font-size: 24px;
      line-height: 40px;
      opacity: .5; }
    .code-snippet .window-link:hover {
      background-color: #333333; }
  .code-snippet .markdown {
    background-color: #282828;
    border-radius: 2px;
    padding: 0 10px; }
  .code-snippet h2 {
    font-size: 18px;
    margin-top: 15px;
    padding-bottom: 10px;
    position: relative;
    font-family: 'ProximaNova-Light'; }
    .code-snippet h2::after {
      content: '';
      height: 1px;
      width: 100%;
      background-color: #c7c7c7;
      opacity: .5;
      position: absolute;
      bottom: 0;
      left: 0; }
  .code-snippet p {
    font-size: 12px;
    line-height: 1.75em; }

/*  Caleb's Styles are starting here :)  */
.homepage-container {
  background-color: #EDEDED;
  color: #333333;
  position: absolute;
  padding: 0 10px;
  width: 100%; }
  .homepage-container .welcome-container {
    padding: 40px;
    float: left; }
    .homepage-container .welcome-container .update-entry {
      display: -webkit-flex;
      display: flex;
      margin-bottom: 10px; }
      .homepage-container .welcome-container .update-entry .date {
        font-size: 13px;
        line-height: 16px;
        color: #a1a1a1;
        -webkit-flex: 0 0 48px;
        flex: 0 0 48px; }
      .homepage-container .welcome-container .update-entry .type {
        height: 15px;
        background-color: #bababa;
        color: white;
        border-radius: 2px;
        font-size: 10px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        -webkit-flex: 0 0 48px;
        flex: 0 0 48px;
        margin-right: 10px; }
      .homepage-container .welcome-container .update-entry .text {
        font-size: 14px;
        color: #686868;
        line-height: 16px;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto; }
      .homepage-container .welcome-container .update-entry em {
        font-weight: bold;
        position: relative; }
        .homepage-container .welcome-container .update-entry em::after {
          content: '';
          height: 1px;
          width: 100%;
          background-color: #c7c7c7;
          opacity: .5;
          position: absolute;
          bottom: 0;
          left: 0; }
  .homepage-container .welcome-container h2 {
    font-size: 20px;
    font-family: 'ProximaNova-Light';
    color: black; }
  .homepage-container .menu-container {
    float: left;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    padding: 30px 20px;
    margin-bottom: 40px;
    box-shadow: 0px 2px 0px 0px #D8D8D8; }
  .homepage-container li.level-1 {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding-right: 20px; }
  .homepage-container li.level-1 h1 {
    font-size: 20px;
    color: #000000;
    line-height: 40px;
    margin: 0; }
  .homepage-container li.level-1 a {
    color: #1657C6;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 8px;
    display: block; }
  .homepage-container li.level-1 a:hover {
    text-decoration: underline; }
  .homepage-container ul.level-2 {
    list-style-image: url("../images/bullet.svg");
    list-style-position: inside; }
  @media screen and (min-width: 500px) and (max-width: 900px) {
    .homepage-container li.level-1 {
      width: 50%; } }
  @media screen and (min-width: 900px) and (max-width: 1200px) {
    .homepage-container li.level-1 {
      width: 33.333333%; }
    .homepage-container .welcome-container {
      padding: 40px 0;
      float: none;
      width: 700px;
      margin: 0 auto; } }
  @media screen and (min-width: 1200px) {
    .homepage-container li.level-1 {
      width: 20%; }
    .homepage-container .welcome-container {
      padding: 40px 0;
      float: none;
      width: 700px;
      margin: 0 auto; } }
